include ../modules/layout/header/header.pug
include ../modules/layout/footer/footer.pug

include ../modules/parts/shadow/shadow.pug
include ../modules/parts/nav/nav.pug
include ../modules/parts/logo/logo.pug
include ../modules/parts/menu/menu.pug
include ../modules/parts/show-menu/show-menu.pug

//- Index
include ../modules/parts/search/search.pug
include ../modules/parts/sort/sort.pug
include ../modules/parts/view/view.pug
include ../modules/parts/offer/offer.pug
include ../modules/parts/form/form.pug

//- Details
include ../modules/parts/details/details.pug

//- Blog
include ../modules/parts/blog/blog.pug

//- Faq
include ../modules/parts/faq/faq.pug
include ../modules/parts/navigation/navigation.pug

include ../modules/base/field/field.pug
include ../modules/base/select/select.pug
include ../modules/base/button/button.pug
include ../modules/base/textarea/textarea.pug
include ../modules/base/checkbox/checkbox.pug