extends ../template/template.pug
block content
	.page
		+header(style="background-image: url('./img/header/img/header-blog.jpg')")
			+nav.nav--default
				.container.flex-container.align-middle.align-justify
					+logo('/')
					+menu
					+show-menu

			.container-fluid
				.container
					.header__info.text-center
						h1.h1.h1--white Блог
						hr

		main.main
			section.section#options
				.container-fluid
					.container
						.flex-container.align-middle.align-right
							+view

			section.section#proposal
				.container-fluid
					.container
						+blog
						.row
							.cell
								+offer
							.cell
								+offer
							.cell
								+offer
							.cell
								+offer
						.flex-container.align-middle.align-center.flex-wrap(style="margin-top: 40px")
							+button('button').button--primary.button--more(style="margin: 10px") Предыдущий день
							+button('button').button--primary.button--more(style="margin: 10px") Следующий день

		+footer