extends ../template/template.pug
block content
	.page
		+header(style="background-image: url('./img/header/img/header-faq.jpg')")
			+nav.nav--default
				.container.flex-container.align-middle.align-justify
					+logo('/')
					+menu
					+show-menu

			.container-fluid
				.container
					.header__info.text-center
						h1.h1.h1--white Остались вопросы?
						hr

		main.main
			section.section#faq
				.container-fluid
					.container
						.flex-container
							.left
								+navigation
							.right
								#faq-base
									h5.h5 Общая информация
									- var item = [{title: "Что такое PromoTour.net (ПромоТур)?",text: "PromoTour.net (ПромоТур) это сервис нахождения самых актуальных туров по цене и по скидке, доступных на сейчас."}];
									+faq(item)
									- var item = [{title: "Туры с вылетом из каких стран и городов доступны на сайте PromoTour.net (ПромоТур)?",text: "На сайте доступны самые дешёвые и актуальные Промо туры с вылетом из крупнейших городов Украины, России, Казахстана и Белоруссии."}];
									+faq(item)
									- var item = [{title: "Туры в какие страны доступны на сайте PromoTour.net (ПромоТур)?",text: "На сайте доступны самые дешёвые и актуальные Промо туры в наиболее популярные туристические места нашей Планеты - начиная от Турции и Египта, и заканчивая такими экзотическими странами как Мальдивы, Сейшелы, Доминикана."}];
									+faq(item)
									- var item = [{title: "Чем отличается сайт PromoTour.net (ПромоТур) от других сайтов, предоставляющих информацию о Туристических предложениях?",text: "Сайт PromoTour.net (ПромоТур) не получает вознаграждение от Туристических операторов за предоставление информации или продажу Туристических предложений (Туров), предоставляя информацию на основе актуальности и ранжирования по цене и изменении предложения на рынке, соответственно по увеличению цены и уменьшении разницы актуальной цены Тура к предыдущей с теми же самыми условиями."}];
									+faq(item)
									- var item = [{title: "Предложения от скольки Туричтических операторов представлены на сайте PromoTour.net (ПромоТур)?",text: "Невозможно точно указать количесво Туристических оператов, предложения которых могут быть представлены на сайте PromoTour.net (ПромоТур). Сервис старается покрыть предложения от большенства Туроператоров Украины. России. Казахстана и Белоруссии. Все зависит от актуальности отдельновзятого предложения, в сравнении с предложениями других Туристических операторов на сейчас, согласно выбраным пользователем криетриев."}];
									+faq(item)
									- var item = [{title: "Почему я вижу рекламу на сайте PromoTour.net (ПромоТур)?",text: "Так как сайт PromoTour.net (ПромоТур) не получает вознаграждение за предложения и продажу Туров от Туроператоров, это единственный способ поддерживать сервис на должном уровне при соответствующем интересе пользователь к нашим услугам."}];
									+faq(item)
									- var item = [{title: "Какую ответственность за предоставленную информацию несет сайт PromoTour.net (ПромоТур)?",text: "Сайт PromoTour.net (ПромоТур) предоставляет информацию на данных, доступных в открытых источниках сети Интернет и сайтах Туроператоров. В случае несоответствия данных сайт PromoTour.net (ПромоТур) не несёт никакой ответственности за актуальность данных, как пример, по той причине что данные на сайтах Туроператоров могли быть изменены или других причинах, не зависящих от сайта PromoTour.net (ПромоТур)."}];
									+faq(item)
									- var item = [{title: "Какая основная цель сайта PromoTour.net (ПромоТур) в предоставлении информации своим пользователям?",text: "Основная Миссия сайта PromoTour.net (ПромоТур) заключается в предоставление наиболее актуальной информации своим пользователям, позволяющая им найти Туристическое предложение (Тур) за наиболее приемлемым условием цены и качества, интересующего самого пользователя!"}];
									+faq(item)
									- var item = [{title: "Предложения от скольки Туричтических операторов представлены на сайте PromoTour.net (ПромоТур)?",text: "Невозможно точно указать количество Туристических операторов, предложения которых могут быть представлены на сайте PromoTour.net (ПромоТур). Сервис старается покрыть предложения от большинства Туроператоров Украины. России. Казахстана и Белоруссии. Все зависит от актуальности отдельно взятого предложения, в сравнении с предложениями других Туристических операторов на сейчас, согласно выбранным пользователем критериев."}];
									+faq(item)
								#faq-search
									h5.h5 Поиск Туров
									- var item = [{title: "Почему я не вижу Тур, который был ещё 20 минут назад на сайте, а сейчас исчез?",text: "Вероятнее всего, данный тур при данных условиях уже стал на сейчас не актуальным и он уже не доступен к покупке, или же его цена была изменена так, что он уже стал не актуальным по сравнению с другими актуальными предложениями."}];
									+faq(item)
									- var item = [{title: "Что означают все эти цифры и значения возле карточки отдельно взятого Тура?",text: "Эти цифры и значения показывают Город вылета, страну и регион прилета, название Отеля, дату начала Тура, длительность ночей, тип размещения (двухместный, трехместный, улучшенный и т.д.) и питания (все включено, ультра все включено, полупансион и т.д.), категорию отеля в звёздах, рейтинг отеля на сайте TripAdvisor.com, Туроператор, стоимость и разница в цене на данный Тур с предыдущим ценами на этот же Тур с этими же условиями и от этого же Туроператора."}];
									+faq(item)
									- var item = [{title: "Как я могу выбрать интересующие меня критерии Тура по Стране пребывания, его длительности, дате вылета, количество путешественников, категории отеля и т.д.?",text: "Выбор всех условий доступен из строки Поиска. Пользователь просто выбирает условие и нажимает Выбор. Дополнительно, существует возможность выбирать показывать Туры по увеличению цены и уменьшению скидки от предыдущей цены."}];
									+faq(item)
									- var item = [{title: "Что означает на карточке Тура в списке предложений 'Обновлено 7 мин назад'?",text: "'Обновлено 7 мин назад' означает что данный Тур по данных критериям мы нашли 7 минут назад со времени обновления информации у Вас в Браузере. Через 5 минут возможна ситуация, что будет указано что данный тур обновлён 12 минут назад (7 минут плюс ещё прошедшие 5 минут) либо данный Тур исчезнет из списка актуальных Туров по причине утраты своей актуальности."}];
									+faq(item)
									- var item = [{title: "Как я могу быть уверен что данные Туры актуальные и доступные для приобретения?",text: "Данные Туры находятся в открытом доступе на сайта соответствующих Туроператороа. Воспользовавшись информацией на сайте PromoTour.net (ПромоТур), вы можете приобрести Турпутевку у соответствующего оператора или его Турагентство по месту вашего жительства, имея в виду, что актуальность предложения может изменяться ежеминутно"}];
									+faq(item)
									- var item = [{title: "Как часто обновляется информация на сайте PromoTour.net (ПромоТур)?",text: "Информация обновляется так быстро, как только мы находим новые предложения на рынке Туров."}];
									+faq(item)
									- var item = [{title: "Какие именно Туристические предложения я вижу при первом входе на сайт PromoTour.net (ПромоТур)?",text: "Сайт PromoTour.net (ПромоТур) не отслежитвает местоположение Пользователей. поэтому при первом входе вы будете наблюдать предложения от Туристических операторов Украины. Используя переключения между Странами и Городами в верхнем разделе Меню, Вы можете выбрать также Россию. Казахстан или Белоруссию. и соответствующий город вылета, который подходит именно Вам."}];
									+faq(item)
									- var item = [{title: "Как использовать настройки в строке поиска Туров?",text: "Для начала использования, Вы или выбираете город вылета из списка Меню соответствующей страны, или же изменяете его в списке поиска, далее выбираете Страну или отдельный регион, конкретную дату вылета или все возможные даты, длительность в днях или все возможные длительности, категорию Отеля или все возможные категории, тип питания согласно Туру или все варианты типа питания, количество путешественников, и нажимаете Поиск. Далее, сайт отобразит Вам результаты Поиска, где вы можете выбрать интересующий вас Тур."}];
									+faq(item)
									- var item = [{title: "Могу ли я переключать страницу сайта между типами результатов Поиска по турам - по цене и по скидке, согласно установленному условию, без повторного запроса на Поиск?",text: "Совершенно верно, вы можете переключаться между типом результатов Поиска, без необходимости ожидания очередного результата Поиска. Это позволит избежать ситуации потери времени при поиске наиболее актуального Тура как по цене так и по скидке."}];
									+faq(item)
								#faq-details
									h5.h5 Детали сайта
									- var item = [{title: "Что такое Блог сайта PromoTour.net (ПромоТур) и как им пользоваться?",text: "Ежедневно, в Блоге сайта PromoTour.net (ПромоТур) публикуются несколько самых интересных предложений предыдущего дня, не зависящих от Страны или Города вылета. Данная информация помогает пользователям увидеть насколько интересными и разнообразными являются предложения Туристических операторов Украины, России, Казахстана и Белоруссии."}];
									+faq(item)
									- var item = [{title: "К кому мне обращаться для размещения рекламы на сайте PromoTour.net (ПромоТур)?",text: "Для размещения рекламы на сайте PromoTour.net (ПромоТур) пожалуйста обращайтесь на email info@promotour.net. Наши менеджеры обязательно с Вами свяжутся по вопросу размещения рекламы на сайте."}];
									+faq(item)
		+footer