.form{
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
	max-width: 340px;
	z-index: 1;
	position: relative;
	margin: 20px auto;
	.field-wrapper{
		margin: 10px 0;
		position: relative;
		&--small{
			height: 55px;
		}
		&--big{
			height: 150px;
		}
		&--active{
			p{
				transform: translateY(-70%);
			}
		}
		p{
			transition: all .5s;
			position: absolute;
			left: 10px;
			top: 20px;
			color: $second;
		}
		input,
		textarea{
			height: 100%;
			padding-top: 25px;
		}
	}
	.button{
		height: 55px;
	}
}