.footer{
	background-color: lighten(#000, 10%);
	&__info{
		padding: 50px 0;
		[class^="col-"]{
			margin: 10px 0;
		}
		.logo{
			margin-bottom: 10px;
			@include media-max(767){
				margin: 0 auto 10px auto;
			}
		}
		.description{
			max-width: 700px;
			margin-left: 0;
			& > p{
				margin: 10px 0;
			}
		}
		.more{
			margin-top: 10px;
			&:hover,
			&--active{
				&:before{
					color: $primary;
				}
			}
			@include media-max(767){
				text-align: center;
			}
			&:before{
				content: '...';
				line-height: 0;
				font-size: 42px;
				color: #fff;
			}
		}
		.social{
			margin: 10px 0;
			@include media-max(767){
				justify-content: center;
				& > p{
					display: none;
				}
			}
			&__item{
				height: 35px;
				width: 35px;
				color: #fff;
				position: relative;
				margin-right: 10px;
				border-radius: 100%;
				border: 1px solid #fff;
				&:before{
					@include absolute-center;
				}
				&:last-child{
					margin-right: 0;
				}
				&:hover,
				&--active{
					background-color: $primary;
					border-color: $primary;
					color: #fff;
				}
			}
		}
		hr{
			height: 2px;
			width: 20%;
			margin-left: 0;
			@include media-max(767){
				margin: 10px auto;
			}
		}
		.link{
			display: block;
			padding: 5px 0;
			&:hover,
			&--active{
				color: $primary;
				transform: translateX(10px);
			}
		}
		.font{
			@include media-max(767){
				text-align: center;
			}
		}
	}
	&__copyright{
		padding: 20px 0;
		border-top: 1px solid darken($base-border-color, 30%);
	}
}