$menu:(
	scroll: false,
	item-margin: 0 5px,
	item-padding: 10px 5px
);

.menu{
	@include media-max(991){
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		transition: all .5s;
		flex-direction: column;
		justify-content: space-between;
		transform: translateY(-200%);
		&--active{
			overflow-y: auto;
			overflow-x: hidden;
			transform: translateY(0);
			height: calc(100vh - #{map-get($nav, height)});
			@if(map-get($menu, scroll) == true){
				@include scroll(10px, #d4d4d4, 0, lighten(#000, 40%), 1px solid transparent);
			}
			@else{
				@include scroll(0, rgba(255,255,255,0), 0, rgba(255,255,255,0), 0);
			}
			.menu__item{
				margin: auto 0;
			}
		}
	}
	&__item{
		position: relative;
		margin: map-get($menu, item-margin);
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		@include media-max(991){
			margin: 0;
		}
		.link{
			padding: map-get($menu, item-padding);
			display: block;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				width: 0;
				height: 2px;
				transition: all .5s;
			}
			i{
				margin-left: 3px;
			}
			&:hover,
			&--active{
				&:before{
					width: 100%;
				}
			}
		}
	}
}

.toggle{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: calc(100% + 10px);
	@include media-max(991){
		position: relative;
		top: 0;
		width: 100%;
		&:after{
			display: none;
		}
	}
	&__list{
		max-height: 400px;
		overflow-y: auto;
		@include scroll(0, rgba(255,255,255,0), 0, rgba(255,255,255,0), 0);
	}
	&__item{
		&:first-child{
			border-top: 0;
		}
		@include media-max(991){
			padding: 0 10px 0 10px;
			position: relative;
			border: 0!important;
			background-color: rgba(0,0,0,0)!important;
			&:before{
				content: '';
				@include absolute-center-left(0);
				height: 4px;
				width: 4px;
				border-radius: 100%;
				background-color: $primary;
			}

		}
		a{
			padding: 5px;
			display: block;
			&:hover{
				background-color: $primary;
				color: #fff;
			}
			@include media-max(991){
				vertical-align: middle;
				display: inline-block;
				&:hover{
					background-color: inherit;
					color: $primary;
				}
			}
		}
	}
}