mixin menu()
	- var menu = [{name: "Главная", link:"index.html"},{name: "Туры Украина", id: "toggleUkraine"},{name: "Туры Россия", id: "toggleRussia"},{name: "Туры Казахстан", id: "toggleKazahstan"},{name: "Туры Белоруссия", id: "toggleBelarus"},{name: "Кто мы", link:"about.html"}, {name: "Блог", link:"blog.html"},{name: "Вопросы и ответы", link:"faq.html"}];
	ul.menu.flex-container.align-middle&attributes(attributes)
		each item in menu
			li.menu__item
				if (!item.link)
					a.font.link.menu__item--toggle
						span= item.name
						i.fas.fa-angle-down

					.triangle.toggle
						.box-shadow.cut
							ul.toggle__list(id=item.id)

				else
					a.font.link(href=item.link)
						span= item.name