mixin navigation(value)
	.navigation.box-shadow.fas&attributes(attributes)
		a(href="#faq-base").flex-container.align-middle.navigation__item
			i.far.fa-file-alt
			span.font.font--md.text-uppercase Общая информация
			i.fas.fa-angle-right
		a(href="#faq-search").flex-container.align-middle.navigation__item
			i.far.fa-file-alt
			span.font.font--md.text-uppercase Поиск Туров
			i.fas.fa-angle-right
		a(href="#faq-details").flex-container.align-middle.navigation__item
			i.far.fa-file-alt
			span.font.font--md.text-uppercase Детали сайта
			i.fas.fa-angle-right