mixin blog()
	.blog.text-center&attributes(attributes)
		h6.h6.h6--primary 19.02.2019
		p.font.text-uppercase Еще один день позади а с ним и классные цены
		p.font Сегодня оказался классный день на горящие путевки, мы нашли много интересных вариантов по цене и скидке, но наиболее интересными оказались примеры ниже. Очень надеемся что их купил кто то из посетителей нашего сайта! Спасибо что вы с нами.