mixin offer(link)
	article.offer.cut.box-shadow.box-shadow--hover&attributes(attributes)
		header.offer__header
			a.img.img--hover(href="details.html")
				img(src="./img/header/img/header-index.jpg")
				.img__toggle.flex-container.align-center-middle.flex-dir-column
					p.far.fa-eye
					p.font.font--white.text-uppercase Детальнее об отеле
			.where
				p.font.font--white Египет, Хургада
			.discount.discount--small.flex-container.align-center-middle
				p.font.font--white -15%
		.offer__wrapper
			main.offer__main
				ul.description
					li.flex-container.align-middle.description__item
						a.font.font--primary.text-uppercase(href="details.html") Three Conrners Trim
					li.flex-container.align-baseline.description__item
						h6.h6.h6--second.text-through $618
						h5.h5.h5--primary $512
					li.flex-container.align-middle.description__item
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
					li.flex-container.align-middle.description__item
						img(src="./img/plane.svg")
						p.font Kiev, Ukraine
					li.flex-container.align-middle.description__item
						img(src="./img/calendar.svg")
						p.font
							span 09.12.2019
							span -
							span 09.12.2019
							span (6 ночей)
					li.flex-container.align-middle.description__item
						img(src="./img/food.svg")
						p.font
							span Все включено
							span (Ai)
					li.flex-container.align-middle.description__item
						img(src="./img/bed.svg")
						p.font
							span Standart Room
							span (DBL)
					li.flex-container.align-middle.description__item
						img(src="./img/people.svg")
						p.font
							span 2 взрослых,
							span без детей
			footer.offer__footer
				.flex-container.align-middle.align-justify.flex-wrap
					p.font.font--green
						i.far.fa-clock
						span Обновлено 15 минут назад
					a(href="#" target="_blank").operator
						img(src="./img/operator/20.png", alt="Join up")