.container-fluid,
.container,
.section,
.main {
	width: 100%;
	margin:{
		right: auto;
		left: auto;
	}
}
.container {
	padding: 0 15px;
	min-width: $min-width;
	max-width: $max-width;
	position: relative;
}



#proposal,
#details,
#about,
#faq{
	padding: 40px 0;
	//border: 1px solid red;
}


#details{
	.left,
	.right{
		width: 100%;
	}
	.left{
		padding-right: 10px;
		max-width: 65%;
		flex: 1 1 65%;
		@include media-max(991){
			padding-right: 0;
			max-width: 100%;
			flex: 1 1 100%;
			order: 2;
		}
	}
	.right{
		padding-left: 10px;
		max-width: 35%;
		flex: 1 1 35%;
		@include media-max(991){
			padding-left: 0;
			max-width: 100%;
			flex: 1 1 100%;
			order: 1;
			margin-bottom: 20px;
		}
	}
}

#about{
	.wrapper{
		max-width: 1000px;
		margin: 0 auto;
	}
}

#faq{
	.left,
	.right{
		width: 100%;
	}
	.left{
		padding-right: 10px;
		max-width: 30%;
		flex: 1 1 30%;
		@include media-max(991){
			max-width: 0;
			flex: 1 1 0;
			padding: 0;
		}
	}
	.right{
		padding-left: 10px;
		max-width: 70%;
		flex: 1 1 70%;
		@include media-max(991){
			max-width: 100%;
			flex: 1 1 100%;
			padding-left: 0;
		}
		& > div{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


#options{
	background-color: #fff;
}
#feedback{
	padding: 150px 0;
	background-attachment: fixed;
	background-image: url('../img/about-index.jpg');
	@include shadow(rgba(0,0,0,0.4));
	.h6{
		position: relative;
		z-index: 1;
		@include media-max(767){
			text-align: center;
		}
	}
}




.cut{
	border-radius: 5px;
	overflow: hidden;
}

.img{
	overflow: hidden;
	&--hover{
		&:hover{
			img{
				transform: scale(1.2);
			}
		}
	}
	img{
		transition: all .5s;
		width: 100%;
		height: 100%;
		max-height: 100%;
		min-width: 100%;
		max-width: none;
		object-fit: cover;
		object-position: 50% 50%;
	}
}

.triangle{
	position: relative;
	&:after {
		content: ''; 
		position: absolute;
		left: 30px;
		top: -20px;
		transform: translateX(-50%);
		border: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}
}

.box-shadow{
	transition: all .5s;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	&--hover{
		&:hover{
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
		}
	}
}

.text{
	margin-bottom: 20px;
}