$min-width: 320px;
$max-width: 1920px;

$base-font-size: 14px;
$base-font-color: rgba(0,0,0,1);
$base-font-weight: 400;
$base-font-line-height: 1.5;
$base-font-family: 'Roboto', sans-serif;
$base-font-family-second: 'Montserrat', sans-serif;

$base-background-color: #e4e4e4;
$base-border-color: #d4d4d4;
$base-transition: all 0.5s;

$base-grid-padding: 15px;
$base-grid-margin: 15px;
$base-grid-column: 12;

$primary: rgba(244,92,94,1);
$second: rgba(107,107,107,1);
$third: rgba(34,34,34,1);