$shadow:(
	color-background: rgba(0,0,0,0.6),
	padding: 20px,
	z-index: 9
);
.shadow{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: map-get($shadow, padding);
	z-index: map-get($shadow, z-index);
	background-color: map-get($shadow, color-background);
	@include media-max(767){
		padding: 10px;
	}
}