$nav:(
	background-color-fixed: rgba(0,0,0,0.7),
	background-color-default: rgba(255,255,255,0.9),
	height: 70px,
	z-index: 9
);

.nav{
	width: 100%;
	height: map-get($nav, height);
	z-index: map-get($nav, z-index);
	transition: all 0.5s ease-out 0s;
	[class*="container"]{
		&:not(.menu){
			height: inherit;
		}
	}
	&--default{
		position: relative;
		//background-color: map-get($nav, background-color-default);
		@include media-max(991){
			background-color: map-get($nav, background-color-default);
		}
		.toggle{
			&:after{
				border-bottom: 10px solid map-get($nav, background-color-default);
			}
			&__item{
				border-top: 1px solid $base-border-color;
				background-color: map-get($nav, background-color-default);
			}
		}
		.menu{
			@include media-max(991){
				display: block;
				background-color: map-get($nav, background-color-default);
			}
			&__item{
				@include media-max(991){
					padding: 0 20px;
				}
				.link{
					color: #fff;
					@include media-max(991){
						color: #000;
						display: inline-block;
					}
					&:before{
						background-color: $primary;
					}
				}
			}
		}
		.show-menu{
			&__item{
				background-color: #000;
			}
		}
	}
	&--fixed{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		background-color: map-get($nav, background-color-fixed);
		@include media-max(991){
			background-color: map-get($nav, background-color-fixed);
		}
		.toggle{
			&:after{
				border-bottom: 10px solid map-get($nav, background-color-fixed);
			}
			&__item{
				border-top: 1px solid rgba(255,255,255,0.2);
				background-color: map-get($nav, background-color-fixed);
				a{
					color: #fff;
				}
			}
		}
		.menu{
			@include media-max(991){
				display: block;
				background-color: map-get($nav, background-color-fixed);
			}
			&__item{
				@include media-max(991){
					padding: 0 20px;
				}
				.link{
					@include media-max(991){	
						display: inline-block;
					}
					color: #fff;
					&:before{
						background-color: #fff;
					}
				}
			}
		}
		.show-menu{
			&__item{
				background-color: #fff;
			}
		}
	}
}