mixin preloader
	.preloader.flex-container.align-center-middle&attributes(attributes)
		.loader
			.loader__item.loader__item--first
			.loader__item.loader__item--second
			.loader__item.loader__item--third