mixin search(value)
	.search.flex-container.align-middle.align-right.flex-wrap&attributes(attributes)
		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Вылет:
				.flex-container.align-middle.field.text-ellipsis.search-from
					span.font
					span.font
			.dropdown__block.dropdown__block--from.triangle
				.box-shadow.cut.fly
					p.font.fly__title.first.text-uppercase Страна:
					.flex-container.align-middle.flex-wrap.fly__wrapper
					p.font.fly__title.last.text-uppercase Город:
					.flex-container.align-middle.flex-wrap.fly__list
		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Прилет:
				.flex-container.align-middle.field.text-ellipsis.search-where
					span.font
					span.font
			.dropdown__block.dropdown__block--where.triangle
				.box-shadow.cut.fly
					p.font.fly__title.first.text-uppercase Страна:
					.flex-container.align-middle.flex-wrap.fly__wrapper
					p.font.fly__title.last.text-uppercase Город:
					.flex-container.align-middle.flex-wrap.fly__list

		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Дата вылета с:
				+field('date', '', '', false).search-date-from
		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Дата вылета по:
				+field('date', '', '', false).search-date-to

		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Количество ночей:
				.flex-container.align-middle.field
					p.font
						| от 
						span.search-night-from 
						|  до 
						span.search-night-to 
						|  ночей
			.dropdown__block.dropdown__block--night.triangle
				.box-shadow.cut
					.inner.flex-container.align-middle
						p.font.inner__text От
						button.decrement(min="6") -
						p.font.font--md.inner__title.search-night-from(data="nightFrom")
						button.increment(max="28") +
					.inner.flex-container.align-middle
						p.font.inner__text До
						button.decrement(min="6") -
						p.font.font--md.inner__title.search-night-to(data="nightTo")
						button.increment(max="28") +
					+button('button').button--primary Готово

		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Класс отеля:
				.flex-container.align-middle.field
					p.font.search-rate
			.dropdown__block.dropdown__block--rate.triangle
				.box-shadow.cut
					.inner
						ul.inner__list
							li
								.radio(value="0").radio--all
									span
									label.font Все отели
							li
								.radio(value="2")
									span
									label.font
										i.fas.fa-star
										i.fas.fa-star
							li
								.radio(value="3")
									span
									label.font
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
							li
								.radio(value="4").radio--active
									span
									label.font
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
							li
								.radio(value="5").radio--active
									span
									label.font
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star

					+button('button').button--primary Готово

		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Питание:
				.flex-container.align-middle.field
					p.font.search-food
			.dropdown__block.dropdown__block--food.triangle
				.box-shadow.cut
					.inner
						ul.inner__list
							li
								.radio(value="0").radio--all
									span
									label.font Любое питание
							li
								.radio(value="OB")
									span
									label.font Без питания (OB)		
							li
								.radio(value="BB")
									span
									label.font Затрак (BB)
							li
								.radio(value="HB")
									span
									label.font Завтрак и ужин (HB)
							li
								.radio(value="FB")
									span
									label.font Завтрак, обед и ужин (FB)
							li
								.radio(value="AD").radio--active
									span
									label.font Все включено (AI)
							li
								.radio(value="UAI").radio--active
									span
									label.font Ультра все включено (UAI)
							//- li
							//- 	+checkbox('ob', 'Без питания (OB)')(name="food", value="ob")
							//- li
							//- 	+checkbox('bb', 'Затрак (BB)')(name="food", value="bb")
							//- li
							//- 	+checkbox('hb', 'Завтрак и ужин (HB)')(name="food", value="hb")
							//- li
							//- 	+checkbox('fb', 'Завтрак, обед и ужин (FB)')(name="food", value="fb")
							//- li
							//- 	+checkbox('ai', 'Все включено (AI)')(name="food", value="ai", checked)
							//- li
							//- 	+checkbox('uai', 'Ультра все включено (UAI)')(name="food", value="uai", checked)
					+button('button').button--primary Готово

		.search__block
			.dropdown
				p.font.font--sm.font--second.dropdown__text Кто путешествует:
				.flex-container.align-middle.field
					p.font
						span.search-adults.search-adults-text
						span.search-children.search-children-text
			.dropdown__block.dropdown__block--who.triangle
				.box-shadow.cut
					.inner
						p.font.inner__subtitle Взрослые:
						.flex-container.align-middle
							button.decrement(min="1") -
							p.font.font--md.inner__title.search-adults(data="adults")
							button.increment(max="5") +
					.inner
						p.font.inner__subtitle Дети:
						.flex-container.align-middle
							button.decrement(min="0") -
							p.font.font--md.inner__title.search-children(data="children")
							button.increment(max="3") +
					.wrapper
					+button('button').button--primary Готово

		.search__block
			.dropdown
				+button('button').button--primary Поиск